
.icon-chat:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-attention:before { content: '\e803'; } /* '' */
.icon-plus-squared:before { content: '\e804'; } /* '' */
.icon-power:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */